# Netflix user engagement analyse

## Setup

In [1]:
# Wir importieren die Bibliothek pandas
import pandas as pd

---
## Daten

### Daten importieren (2 Punkte)

- CSV-Daten mit pandas importieren und mit der Bezeichnung `df` speichern. 

- Pfad zu den Daten in GitHub: 'https://raw.githubusercontent.com/kirenz/datasets/master/netflix.csv'

In [2]:
### BEGIN SOLUTION
df = pd.read_csv('https://raw.githubusercontent.com/kirenz/datasets/master/netflix.csv')
### END SOLUTION

In [8]:
"""Check that df returns the correct output"""
assert len(df) == 2000
assert df.columns.tolist() == ['group', 'outcome']

---
## Analyse B (4 Punkte)

### Kreuztabelle

Schreiben Sie den Code, der die unten aufgeführte Tabelle erzeugt. 

- Speichern Sie die Tabelle unter der Bezeichnung `cross_table` 
- Lassen Sie die Tabelle 
- Achten Sie dabei auch auf die korrekte Bezeichnung der Zeilen und Spalten.

In [29]:
### BEGIN SOLUTION
cross_table = pd.crosstab(df['group'], 
            df['outcome'],
            margins=True,
            normalize=True,
            rownames=['Gruppe'],  # Umbenennung der Zeilen
            colnames=['Ergebnis'] # Umbenennung der Spalten
            ) * 100 # Multiplikation mit 100 für eine bessere Darstellung der Prozentwerte
cross_table
### END SOLUTION

Ergebnis  Engagement  No engagement    All
Gruppe
A              32.25          17.75   50.0
B              21.80          28.20   50.0
All            54.05          45.95  100.0

In [31]:
"""Check that it returns the correct output"""
assert cross_table['Engagement'].B == 21.8