# Predict sales

## Setup

In [11]:
import pandas as pd
import altair as alt

## Data

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/kirenz/datasets/master/advertising.csv")
df

     Market     TV  radio  newspaper  sales
0         1  230.1   37.8       69.2   22.1
1         2   44.5   39.3       45.1   10.4
2         3   17.2   45.9       69.3    9.3
3         4  151.5   41.3       58.5   18.5
4         5  180.8   10.8       58.4   12.9
..      ...    ...    ...        ...    ...
195     196   38.2    3.7       13.8    7.6
196     197   94.2    4.9        8.1    9.7
197     198  177.0    9.3        6.4   12.8
198     199  283.6   42.0       66.2   25.5
199     200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Market     200 non-null    int64
 1   TV         200 non-null    float64
 2   radio      200 non-null    float64
 3   newspaper  200 non-null    float64
 4   sales      200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

## Data examples for sales and TV

In [21]:
df_new = pd.DataFrame(
    {'sales': [2500, 4500, 6500, 8500, 10500, 12500, 14500, 8500, 9500, 10500],
      'tv'  : [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]}
)

In [22]:
df_new

   sales     tv
0   1500   1000
1   2500   2000
2   3500   3000
3   4500   4000
4   5500   5000
5   6500   6000
6   7500   7000
7   8500   8000
8   9500   9000
9  10500  10000

In [23]:
alt.Chart(df_new).mark_point().encode(
    x='tv',
    y='sales'
)

alt.Chart(...)

In [ ]:
sales_prediction = 500 + tv * 1