# Mean squared error

## Setup

In [1]:
import pandas as pd
import altair as alt

## Data

In [2]:
# let's change some tv values
df = pd.DataFrame(
    {'sales': [2500, 4500, 6500, 8500, 10500, 12500, 14500, 16500, 18500, 20500],
      'ads'  : [900, 1400, 3600, 3800, 6200, 5200, 6800, 8300, 9800, 10100]}
)

## Model

In [4]:
# We use our simple model from before
df['sales_prediction'] = 500 + df['ads'] * 2

## Mean squared error

### Step 1: Calculate squared errors

In [31]:
# Step 1: calculate squared difference between true outcome and prediction
df['errors_squared'] = (df['sales'] - df['sales_prediction']) ** 2
df.head()

,sales,ads,sales_prediction,diff,diff_squared,errors_squared,variability_squared
0,2500,900,2300,200,40000,40000,81000000.0
1,4500,1400,3300,1200,1440000,1440000,49000000.0
2,6500,3600,7700,-1200,1440000,1440000,25000000.0
3,8500,3800,8100,400,160000,160000,9000000.0
4,10500,6200,12900,-2400,5760000,5760000,1000000.0

### Step 2: Sum up all squared errors

- Calculate the **sum of squared errors** (`SSE`)

In [17]:
# Step 2: sum up all squared errors
SSE = df['errors_squared'].sum()
SSE

14520000

### Step 3: Divide by the number of examples

In [35]:
# Obtain number of examples (observations)
n = len(df)
n

10

In [36]:
# Calculate mean squared error
MSE = SSR / n
MSE

1452000.0

In [39]:
print(f'MSE: {MSE:.0f}')

MSE: 1452000