**Important notes:**

**Important notes:**

- You can complete this exercise in 1) Colab or 2) on your local machine
  1. **Colab**: Click on the ðŸš€ symbol at the top of the page and select Colab. When you finished the exercise, download the file: `File` > `Download` > `ipynb`. 
  2. **Local**: click on the download button at the top of the page and choose `.ipynb`. Activate the conda environment `mr` before you start: `conda activate mr`


- Don't change the name of the file and don't delete any cells.


- Make sure you fill in any place that says  <font color='green'> \# YOUR CODE HERE </font> or "YOUR ANSWER HERE", as well as your name and (if necessary) collaborators below.


- The function **NotImplementedError()** prevents you from hand in assignments with empty cells. Simply delete the function if you start working on a cell with this entry.


- Before you turn this problem in (i.e., after you completed all tasks), make sure everything runs as expected: Restart the kernel and run all cells:
  - in *Colab*: in the menubar, select `Runtime` and click on `Restart and run all`
  - if you use *Jupyter Notebook*: in the menubar, select `Kernel` and click on `Restart & Run All`
  - if you use *Visual Studio Code*: select "Restart" and then "Run All" 


Good luck!

In [ ]:
NAME = "lb199"
COLLABORATORS = ""

In [ ]:
import IPython
assert IPython.version_info[0] >= 3, "Your version of IPython is too old, please update it."

---

# Find the best model

## Setup

In [1]:
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

## Data

### Create data

In [2]:
df = pd.DataFrame(
    {'sales': [2500, 4500, 6500, 8500, 10500, 12500, 14500, 16500, 18500, 20500],
      'ads'  : [900, 1400, 3600, 3800, 6200, 5200, 6800, 8300, 9800, 10100]}
)

### Variable lists

We need to prepare our data for the scikit-learn model (which does not work with Pandas dataframes):

- We create the variable `y_label` (our dependent variable, also called label): choose "`sales`" (this step will be helpful in later notebooks)

- We select our features (independent variables) and save them as `X`: choose "`ads`"

- Select and save the dependent variable as `y`

Hint:

```pyhton
y_label = "___"

X = df[["___"]]
y = df[___]
```

In [12]:
y_label = "sales"

X = df[["ads"]]
y = df[y_label]

In [13]:
X

     ads
0    900
1   1400
2   3600
3   3800
4   6200
5   5200
6   6800
7   8300
8   9800
9  10100

In [14]:
y

0     2500
1     4500
2     6500
3     8500
4    10500
5    12500
6    14500
7    16500
8    18500
9    20500
Name: sales, dtype: int64

In [15]:
### Check your code (note that there are some hidden checks)
assert len(X) == 10

## Model

### Select model

Hint:

Save the `LinearRegression()`estimator as object called `reg`

---

```pyhton
___ = ___()
```

---

In [6]:
reg = LinearRegression()

In [7]:
### Check your code
assert reg.get_params() == {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': 'deprecated', 'positive': False}

### Fit model


Fit the model (your `reg` object) to the data with `.fit()`.

In the fit function, you first need to provide the features and then the dependent variable (features, dependent variable)

Hint:


---

```pyhton
___.___(___, ___)
```

---

In [16]:
reg.fit(X, y)

LinearRegression()

In [17]:
### Check your code
assert reg.positive == False

### Coefficients

In [20]:
# Intercept
reg.intercept_

1181.2100861766648

In [19]:
# Slope
reg.coef_

array([1.83935649])

### Make predictions


Use your model to:

- predict sales from your ads (`X`) values with the method `.predict()`

- Save the result as `y_pred`

Hint:

---

```pyhton
___ = ___.___(___)
```

---

In [21]:
y_pred=reg.predict(X)

In [22]:
y_pred[0]

2836.6309279665047

In [23]:
### Check your code
assert 2836 < y_pred[0] <  2840

### Evaluation

#### Mean squared error

Use the scikit-learn function `mean_squared_error()` to calculate the mean squared error and save the result as `mse`

Hint:

---

```pyhton
___ = ___(___, ___)
```

---

In [24]:
mse = mean_squared_error(y, y_pred)

In [25]:
print(f'The mean squared error equals {mse:.0f} ')

The mean squared error equals 1160739

In [26]:
### Check your code
assert 1160738 < mse < 1160740

#### Root mean squared error

Use the scikit-learn function `mean_squared_error()` to calculate the root mean squared error and save the result as `rmse`.

Hint:

---

```pyhton
___ = ___(___, ___, ___)
```

- use the option `squared=False` 

---

In [31]:
rmse = mean_squared_error(y, y_pred, squared=False)

In [32]:
print(f'The root mean squared error equals {rmse:.0f} ')

The root mean squared error equals 1077

In [33]:
### Check your code
assert 1076 < rmse < 1078

#### Mean absolute error

Use the scikit-learn function `mean_absolute_error()` to calculate the mean absolute error and save the result as `mae`.

Hint:

---

```pyhton
___ = ___(___, ___)
```


---

In [35]:
mae = mean_absolute_error(y, y_pred)

In [36]:
print(f'The mean absolute error equals {mae:.0f} ')

The mean absolute error equals 886

In [37]:
### Check your code
assert 885 < mae < 887