# Correlation

## Setup

In [1]:
import pandas as pd

## Data

In [14]:
df = pd.read_csv('https://raw.githubusercontent.com/kirenz/datasets/master/possum.csv')

In [27]:
# define outcome variable as y_label
y_label = 'head_l'

## Correlation

Method of correlation:

- pearson : standard correlation coefficient

- kendall : Kendall Tau correlation coefficient

- spearman : Spearman rank correlation

In [28]:
df.corr(method='pearson').round(decimals=1)

         site  age  head_l  skull_w  total_l  tail_l
site      1.0 -0.1    -0.2     -0.1     -0.3     0.4
age      -0.1  1.0     0.3      0.3      0.3     0.1
head_l   -0.2  0.3     1.0      0.7      0.7     0.3
skull_w  -0.1  0.3     0.7      1.0      0.5     0.3
total_l  -0.3  0.3     0.7      0.5      1.0     0.6
tail_l    0.4  0.1     0.3      0.3      0.6     1.0

In [29]:
# inspect correlation between response and predictors
corr = df.corr().round(decimals=2)
corr[y_label].sort_values(ascending=False)

head_l     1.00
skull_w    0.71
total_l    0.69
age        0.32
tail_l     0.29
site      -0.16
Name: head_l, dtype: float64