# Multiple linear regression

## Setup

In [1]:
import pandas as pd
import altair as alt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

## Data

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/kirenz/datasets/master/loans.csv')

In [15]:
df.rename({'credit_util' : 'total_credit_utilized', 'bankruptcy': })

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,mortgage,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,rent,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,rent,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,rent,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,rent,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,rent,108000.0,Source Verified,22.28,NaN,NaN,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,mortgage,121000.0,Verified,32.38,NaN,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,mortgage,67000.0,Verified,45.26,107000.0,Source Verified,29.57,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,mortgage,80000.0,Source Verified,11.99,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,rent,66000.0,Not Verified,20.82,NaN,NaN,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [10]:
df[['interest_rate', 'verified_income', 'debt_to_income', 'bankruptcy']].head()

KeyError: "['bankruptcy'] not in index"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   emp_title                         9167 non-null   object
 1   emp_length                        9183 non-null   float64
 2   state                             10000 non-null  object
 3   homeownership                     10000 non-null  object
 4   annual_income                     10000 non-null  float64
 5   verified_income                   10000 non-null  object
 6   debt_to_income                    9976 non-null   float64
 7   annual_income_joint               1495 non-null   float64
 8   verification_income_joint         1455 non-null   object
 9   debt_to_income_joint              1495 non-null   float64
 10  delinq_2y                         10000 non-null  int64
 11  months_since_last_delinq          4342 non-null   float64
 12  earliest_credit_line              10000 non-null  int64
 13  inquiries_last_12m                10000 non-null  int64
 14  total_credit_lines                10000 non-null  int64
 15  open_credit_lines                 10000 non-null  int64
 16  total_credit_limit                10000 non-null  int64
 17  total_credit_utilized             10000 non-null  int64
 18  num_collections_last_12m          10000 non-null  int64
 19  num_historical_failed_to_pay      10000 non-null  int64
 20  months_since_90d_late             2285 non-null   float64
 21  current_accounts_delinq           10000 non-null  int64
 22  total_collection_amount_ever      10000 non-null  int64
 23  current_installment_accounts      10000 non-null  int64
 24  accounts_opened_24m               10000 non-null  int64
 25  months_since_last_credit_inquiry  8729 non-null   float64
 26  num_satisfactory_accounts         10000 non-null  int64
 27  num_accounts_120d_past_due        9682 non-null   float64
 28  num_accounts_30d_past_due         10000 non-null  int64
 29  num_active_debit_accounts         10000 non-null  int64
 30  total_debit_limit                 10000 non-null  int64
 31  num_total_cc_accounts             10000 non-null  int64
 32  num_open_cc_accounts              10000 non-null  int64
 33  num_cc_carrying_balance           10000 non-null  int64
 34  num_mort_accounts                 10000 non-null  int64
 35  account_never_delinq_percent      10000 non-null  float64
 36  tax_liens                         10000 non-null  int64
 37  public_record_bankrupt            10000 non-null  int64
 38  loan_purpose                      10000 non-null  object
 39  application_type                  10000 non-null  object
 40  loan_amount                       10000 non-null  int64
 41  term                              10000 non-null  int64
 42  interest_rate                     10000 non-null  float64
 43  installment                       10000 non-null  float64
 44  grade                             10000 non-null  object
 45  sub_grade                         10000 non-null  object
 46  issue_month                       10000 non-null  object
 47  loan_status                       10000 non-null  object
 48  initial_listing_status            10000 non-null  object
 49  disbursement_method               10000 non-null  object
 50  balance                           10000 non-null  float64
 51  paid_total                        10000 non-null  float64
 52  paid_principal                    10000 non-null  float64
 53  paid_interest                     10000 non-null  float64
 54  paid_late_fees                    10000 non-null  float64
dtypes: float64(17), int64(25), object(13)
memory usage: 4.2+ MB

In [14]:
alt.Chart(df).mark_circle().encode(
    x='family_income',
    y='gift_aid'
)

alt.Chart(...)

Prepara data for scikit-learn model:

In [6]:
# Prepare the data
y_label = "gift_aid"

X = df[["family_income"]]
y = df[y_label]

## Model

### Fit the model

In [7]:
# Choose the linear regression model
reg = LinearRegression()

# Fit the model to the data
reg.fit(X, y)

LinearRegression()

### Coefficients

In [16]:
# Intercept
print(f' Intercept: {reg.intercept_} \n Slope: {reg.coef_[0]}')

 Intercept: 24.31932900727033
 Slope: -0.043071652125323996

### Make predictions

In [17]:
# Make predictions on the data
y_pred = reg.predict(X)

### Mean squared error

In [18]:
mean_squared_error(y, y_pred)

21.95832220448851

### Root mean squared error

In [19]:
mean_squared_error(y, y_pred, squared=False)

4.6859707857058295