# Umfrage

## Daten importieren

In [2]:
import pandas as pd

ROOT = "https://raw.githubusercontent.com/kirenz/datasets/master/"
DATA = "Fragebogen1.csv"

df = pd.read_csv(ROOT + DATA)

## Datenüberblick

In [29]:
df

,Zeitstempel,Ich bin sportlich,Ich bin fleißig.,Von Rückschlägen lasse ich mich nicht entmutigen.,Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.,"1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)","Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?",Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?,Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?,"Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?",Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?,Lesen Sie zur Zeit ein Buch?,Wie alt sind Sie?,Sie sind ...
0,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 42%,4,3000,34,34,Ja,22,Männlich

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                 --------------  -----
 0   Zeitstempel                                                                                                                                            1 non-null      object
 1   Ich bin sportlich                                                                                                                                      1 non-null      object
 2   Ich bin fleißig.                                                                                                                                       1 non-null      object
 3   Von Rückschlägen lasse ich mich nicht entmutigen.                                                                                                      1 non-null      int64
 4   Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.                                                                    1 non-null      object
 5   1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)  1 non-null      int64
 6   Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?                                                                            1 non-null      object
 7   Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?                                                  1 non-null      int64
 8   Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?                                                                                       1 non-null      int64
 9   Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?                                      1 non-null      int64
 10  Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?                                                      1 non-null      int64
 11  Lesen Sie zur Zeit ein Buch?                                                                                                                           1 non-null      object
 12  Wie alt sind Sie?                                                                                                                                      1 non-null      int64
 13  Sie sind ...                                                                                                                                           1 non-null      object
dtypes: int64(7), object(7)
memory usage: 240.0+ bytes

## Daten anpassen

### Spaltennamen

In [4]:
# Spaltennamen umbenennen
df = df.rename(columns={ 
            "Zeitstempel": "zeit",
            "Ich bin sportlich": "sport",
            "Ich bin fleißig.": "fleissig",
            "Von Rückschlägen lasse ich mich nicht entmutigen.": "entmutigen",
            "Meine Fähigkeiten und Talente sind vorgegeben und ich kann daran nicht viel ändern.": 'talente',
            "1990 lebten 58 % der Weltbevölkerung in Ländern mit niedrigem Einkommen. Wie hoch ist der Anteil heute? Geben Sie eine Zahl ein (z. B. 9, 37 oder 61)": "einkommen",
            "Wie viel der weltweit verbrauchten Energie stammt aus Erdgas, Kohle und Öl?": "energie",
            "Welcher Anteil der Weltbevölkerung lebt in Megacitys (Städte mit mindestens 10 Millionen Einwohnern)?": "megacity",
            "Wie viele Geleebohnen befinden sich in diesem sechseckigen Glas?": "geleebohnen",
            "Wie viele Minuten verbringen Sie an einem typischen Tag in sozialen Medien (Facebook, Instagram, Snapchat, etc.)?": "soziale_medien",
            "Wie viele Minuten investieren Sie ca. pro Tag in Ihr Studium (abgesehen von Lehrveranstaltungen)?": "studium",
            "Lesen Sie zur Zeit ein Buch?": "buch",
            "Wie alt sind Sie?": "alter",
            "Sie sind ...": "geschlecht"
}, errors="raise")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   zeit            1 non-null      object
 1   sport           1 non-null      object
 2   fleissig        1 non-null      object
 3   entmutigen      1 non-null      int64
 4   talente         1 non-null      object
 5   einkommen       1 non-null      int64
 6   energie         1 non-null      object
 7   megacity        1 non-null      int64
 8   geleebohnen     1 non-null      int64
 9   soziale_medien  1 non-null      int64
 10  studium         1 non-null      int64
 11  buch            1 non-null      object
 12  alter           1 non-null      int64
 13  geschlecht      1 non-null      object
dtypes: int64(7), object(7)
memory usage: 240.0+ bytes

### Variablen anpassen

#### Nominale Variablen

In [6]:
# Liste mit nominalen Variablen erstellen
nominal_list = ["buch", "geschlecht"]

In [34]:
# Nominale Variablen als kategorial formatieren (category)
for i in nominal_list:
    df[i] = df[i].astype("category")

In [35]:
# Nominale Variablen anzeigen lassen
df[nominal_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   buch        1 non-null      category
 1   geschlecht  1 non-null      category
dtypes: category(2)
memory usage: 362.0 bytes

#### Ordinale Variablen

Die Variablen `sport`,`fleissig`, und `talente` wurden mit Hilfe einer so genannten [Likert-Skala](https://de.wikipedia.org/wiki/Likert-Skala) erhoben. 

Die Antwortmöglichkeiten reichen bei der Likertskala typischerweise von „trifft überhaupt nicht zu“ bis "trifft völlig zu“, wobei eine gerade Zahl der Antwortmöglichkeiten ebenso gebräuchlich ist wie eine ungerade Anzahl. 

- Eine **ungerade Anzahl** wird verwendet, wenn eine mittlere Ausprägung (bspw. "teils teils") sinnvoll ist. 

- Eine **gerade Anzahl** zwingt dagegen zur Entscheidung zu einer Seite (tendenzielle Zustimmung oder Ablehnung).

Da wir nicht davon ausgehen können, dass eine befragte Person die Abstände der einzelnen Antwortmöglichkeiten als gleich weit entfernt wahrnimmt (äquidistant), handelt es sich streng genommen um ein ordinales Skalenniveau. Um bei der späteren Auswertung die erhobenen Daten aber dennoch wie intervallskalierte Daten behandeln zu können, behandelt man die Variablen oftmals als "quais-metrisch" und unterstellt somit (zumindest annäherungsweise) äquidistante Abstände. 

Dabei muss jedoch beachtet werden, dass bspw. der Mittelwert aufgrund der Art der Messung (insbesondere wenn eine neutrale mittlere Ausprägung verwendet wird) an Aussagekraft verlieren.

Wir behandeln in Folgenden zwei unterschiedliche Optionen zum Umgang mit den Variablen:

- Option 1: Wir behandeln die Variablen als ordinale Variablen (wird im Anschluss gezeigt).

- Option 2: Wir behandeln die Variablen als "quasimetrische" Variablen - d.h. wie numerische Daten (diese Option wird bei den numerischen Daten behandelt).

In [7]:
ordinal_list = ["sport", "fleissig", "talente"]

In [8]:
from pandas.api.types import CategoricalDtype

cat_type= CategoricalDtype(categories=[
    "trifft überhaupt nicht zu",
    "trifft eher nicht zu",
    "teils teils",
    "trifft eher zu",
    "trifft völlig zu"], ordered=True)

cat_type

CategoricalDtype(categories=['trifft überhaupt nicht zu', 'trifft eher nicht zu',
                  'teils teils', 'trifft eher zu', 'trifft völlig zu'],
, ordered=True)

In [9]:
df[ordinal_list] = df[ordinal_list].astype(cat_type)

In [10]:
df["sport"]

0    teils teils
Name: sport, dtype: category
Categories (5, object): ['trifft überhaupt nicht zu' < 'trifft eher nicht zu' < 'teils teils' < 'trifft eher zu' < 'trifft völlig zu']

### Numerische Variablen

Wir behandeln zunächst die "eindeutig" numerischen Variablen (d.h. wir ignorieren die quasi-metrischen). diese wären:

- einkommen
- energie
- megacity
- geleebohnen
- soziale_medien
- studium
- alter


Wir können mit df.info() erkennen, dass abgesehen von `energie` bereits alle Variablen korrrekt als "int64" (siehe zur Bedeutung diesen [Stackoverflow-Beitrag](https://stackoverflow.com/questions/9696660/what-is-the-difference-between-int-int16-int32-and-int64)) gespeichert wurden.

Daher müssen

In [ ]:
num_list =

In [ ]:
num_list = ["sport", "fleissig", "talente"]

In [40]:
df.head()

,zeit,sport,fleissig,entmutigen,talente,einkommen,energie,megacity,geleebohnen,soziale_medien,studium,buch,alter,geschlecht
0,2022/09/14 8:21:58 PM OEZ,teils teils,trifft eher zu,4,trifft überhaupt nicht zu,9,ca. 42%,4,3000,34,34,Ja,22,Männlich

In [6]:
# Change data format from object to category
df['homeownership'] = df['homeownership'].astype("category")

In [7]:
# You can also select variables with df.
df.application_type = df.application_type.astype("category")

In [8]:
# Show info
df[["homeownership", "application_type"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   homeownership     10000 non-null  category
 1   application_type  10000 non-null  category
dtypes: category(2)
memory usage: 19.9 KB

## Detailed data overview

In [9]:
# Show levels of categorical variable
df['homeownership'].cat.categories

Index(['mortgage', 'own', 'rent'], dtype='object')

In [10]:
# Show levels of categorical variable
df.application_type.cat.categories

Index(['individual', 'joint'], dtype='object')

In [11]:
# Summarizing the frequencies for each value
df["homeownership"].value_counts()

mortgage    4789
rent        3858
own         1353
Name: homeownership, dtype: int64

In [12]:
# Summarizing the frequencies for each value
df.application_type.value_counts()

individual    8505
joint         1495
Name: application_type, dtype: int64

In [13]:
# Data summary for categorical variables
df.describe(include='category')

       homeownership application_type
count          10000            10000
unique             3                2
top         mortgage       individual
freq            4789             8505