# Grades

[Nbgrader documentation](https://nbgrader.readthedocs.io/en/stable/api/high_level_api.html)

## Setup

In [30]:
from nbgrader.apps import NbGraderAPI
from traitlets.config import Config
import pandas as pd

In [31]:
# create a custom config object to specify options for nbgrader
config = Config()
config.CourseDirectory.course_id = "ims_ws2223"
api = NbGraderAPI(config=config)

# api.generate_assignment("models")

## Grading

In [32]:
grades = api.get_submissions('models')
df = pd.DataFrame(grades)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  42 non-null     object
 1   name                42 non-null     object
 2   timestamp           0 non-null      object
 3   first_name          0 non-null      object
 4   last_name           0 non-null      object
 5   student             42 non-null     object
 6   score               42 non-null     float64
 7   max_score           42 non-null     float64
 8   code_score          42 non-null     float64
 9   max_code_score      42 non-null     float64
 10  written_score       42 non-null     float64
 11  max_written_score   42 non-null     float64
 12  task_score          42 non-null     float64
 13  max_task_score      42 non-null     float64
 14  needs_manual_grade  42 non-null     bool
 15  display_timestamp   0 non-null      object
 16  autograded          42 non-null     bool
 17  submitted           42 non-null     bool
 18  student_name        42 non-null     object
 19  student_matrikel    42 non-null     object
 20  drop                41 non-null     object
dtypes: bool(3), float64(8), object(10)
memory usage: 6.2+ KB

In [33]:
# remove strings
df['student'] = df['student'].str.replace('_assignsubmission_file', '')

df[['student_name','student_matrikel', 'drop']] = df['student'].str.split("_",expand=True,)

In [37]:

list = ['student_name', 'student_matrikel', 'autograded', 'score', 'max_score' ]

df[list].to_csv('grades.csv')

In [35]:
df.head()

,id,name,timestamp,first_name,last_name,student,score,max_score,code_score,max_code_score,...,max_written_score,task_score,max_task_score,needs_manual_grade,display_timestamp,autograded,submitted,student_name,student_matrikel,drop
0,b5e4f131a92f45078ea3e9bc6ad977ad,models,None,None,None,Ajla Ramovic_567286_,30.0,38.0,30.0,38.0,...,0.0,0.0,0.0,True,None,True,True,Ajla Ramovic,567286,
1,1fd167faed5d4bbb8b837ff3e74820c3,models,None,None,None,Anna Lena Türke_567248_,32.0,38.0,32.0,38.0,...,0.0,0.0,0.0,False,None,True,True,Anna Lena Türke,567248,
2,071a29060f8346509a101504a2259ed3,models,None,None,None,Annika Karklis_567285_,32.0,38.0,32.0,38.0,...,0.0,0.0,0.0,False,None,True,True,Annika Karklis,567285,
3,81681ed58a5845648414f17df372752e,models,None,None,None,Annika Laux_567257_,32.0,38.0,32.0,38.0,...,0.0,0.0,0.0,False,None,True,True,Annika Laux,567257,
4,ddd68169c15442048bb3cc7999d4311b,models,None,None,None,Antonia Marie Reznicek_567275_,22.0,38.0,22.0,38.0,...,0.0,0.0,0.0,False,None,True,True,Antonia Marie Reznicek,567275,