# Exploring categorical variables

## Row and column proportions (conditional proportions)

## Import data

In [1]:
import pandas as pd

ROOT = "https://raw.githubusercontent.com/kirenz/modern-statistics/main/data/"
DATA = "loans.csv"

df = pd.read_csv(ROOT + DATA)

df.head()

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,mortgage,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,rent,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,rent,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,rent,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,rent,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

In [2]:
df.homeownership = df.homeownership.astype("category")
df.application_type = df.application_type.astype("category")

## Contingency table with proportions

Normalize by dividing all values by the sum of values:

- If passed ‘all’ or True, will normalize over all values.

- If passed ‘index’ will normalize over each row.

- If passed ‘columns’ will normalize over each column.

- If margins is True, will also normalize margin values.

### Row proportions

In [13]:
# A contingency table with row proportions for the application type and homeownership variables.
pd.crosstab(df.application_type	, df.homeownership, normalize='index').round(3)

homeownership     mortgage    own   rent
application_type
individual           0.451  0.138  0.411
joint                0.635  0.122  0.242

- 0.411 corresponds to the proportion of individual applicants who rent.

### Column proportions

In [14]:
# A contingency table with row proportions for the application type and homeownership variables.
pd.crosstab(df.application_type	, df.homeownership, normalize='columns').round(3)

homeownership     mortgage    own   rent
application_type
individual           0.802  0.865  0.906
joint                0.198  0.135  0.094

- The value 0.906 indicates that 90.6% of renters applied as individuals for the loan. 
- This rate is higher compared to loans from people with mortgages (80.2%) or who own their home (86.5%)